.aggregates {
    font-size: 40px;
    text-align: center;
    color: crimson;
}


.DateInput {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    color: #ffffff;
    margin: 0;
    padding: 8px;
    background: rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: large;
    text-align: center;
}

fieldset {
    margin-bottom: 0rem;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
}

input[type=radio] {
    box-sizing: border-box;
    padding: 5;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: black;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #002244;
    border-radius: .3rem;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.Select-value,
.Select-placeholder {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #111111;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: #ECEFF4;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: 5px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin-top: 50px;
}

#note {
    font-style: italic;
}

#note1 {
    font-style: italic;
}

#note2 {
    font-style: italic;
}

#note3 {
    font-style: italic;
}

element.style {
    position: relative;
    width: 850px;
    height: 450px;
}